// LAYOUT VARS
$topbar-height: 60px;
$topbar-height-mobile: 56px;

$sidebar-left-width: 200px;
$sidebar-left-width-mobile: 150px;
$sidebar-left-secondary-width: 200px;
$sidebar-left-secondary-width-mobile: 130px;
$side-clearance: 20px;
