<nav
  class="navbar navbar-expand-lg navbar-light bg-white border-bottom-primary"
>
  <a (click)="goToDashBoard()" class="">
    <img width="100px" alt="Logo" src="assets/images/logo.png" />
  </a>
  <div ngbDropdown [placement]="'bottom-left'" *ngIf="abbreviation">
    <div class="btn-group">
      <button class="border border-primary rounded-circle p-2 mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>{{ abbreviation | uppercase }}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item">{{ username | titlecase }}</button>
        <button class="dropdown-item" (click)="logOut()">Sign Out</button>
      </div>
    </div>
  </div>
  <div *ngIf="!abbreviation">
    <a [routerLink]="['/auth/login']">Login/Register</a>
  </div>
</nav>