/**  =====================
    Authentication css start
==========================  **/
.auth-wrapper {
    overflow-y: hidden;
    height: calc(100vh - 0px);
    padding: 30px 60px;

    .auth-side-form {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        background-color: #fff;
        h4 {
            margin-bottom: 30px;
            font-weight: 500;
            color: #212529;
            @media (max-width: 1000px) {
                text-align: center;
            }
        }
        @media (max-width: 1000px) {
            margin-top: 20px;
        }
    }

    .auth-side-img {
        width: 100%;
        padding-left: 100px;
        @media (max-width: 1000px) {
            display: none;
        }
    }

    .btn-primary {
        background-color: #0f3272 !important;
    }

    .text-primary {
        color: #0f3272 !important;
    }

    .link {
        text-decoration: underline;
    }

}
/**====== Authentication css end ======**/
