.text-muted {
    color: #999;
}

.card {
    color: #222;

    .card-header {
        height: 25px;
    }

    img {
        height: 40px;
        width: auto;
    }
}

.methodP {
    height: 70px;
}